.ssb-game-actions {
  margin-left: auto;
  margin-right: auto;
}

.ssb-chess-resign-confirmation-prompt {
  text-align: center;
}

.ssb-chess-resign-confirmation-buttons {
  display: flex;
  flex-direction: row;
}

.ssb-chess-resign-confirmation-button {
  margin: 2px;
}
