.ssb-chess-game-layout {
  margin-top: 20px;
  display: flex;
}

.ssb-chess-history-area {
  width: 150px;
  height: 600px;
  overflow-y: scroll;
}

.ssb-chess-pgn-move {
  display: flex;
  justify-content: space-between;
}
