.ssb-chess-game-layout {
  margin-top: 20px;
  display: flex;
}

.ssb-chess-history-area {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  justify-content: center;
}

.ssb-chess-chat {
  height: 100%;
  width: 300px;
  margin: auto;
}

.ssb-embedded-chat-input-box {
  width: 98%;
  border: 1px solid black;
  padding-left: 1px;
  padding-right: 1px;
  height: 15px;
}

.ssb-embedded-chat-messages {
  width: 99%;
  height: 585px;
  border: 1px black solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ssb-embedded-chat-message {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.ssb-chess-graveyard {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ssb-chess-graveyard-piece {
  margin: 2px;
}

mono-piece {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
}

mono-piece.bishop {
  background-image: url("assets/mono/B.svg");
}

mono-piece.pawn {
  background-image: url("assets/mono/P.svg");
}

mono-piece.queen {
  background-image: url("assets/mono/Q.svg");
}

mono-piece.knight {
  background-image: url("assets/mono/N.svg");
}

mono-piece.rook {
  background-image: url("assets/mono/R.svg");
}
