.ssb-chess-pgn-cell {

}

.ssb-chess-history-player-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ssb-chess-pgn-moves-list {
  height: 300px;
  overflow-y: scroll;
}

.ssb-chess-pgn-move {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.ssb-chess-history-player {
  text-align: center;
}

.ssb-chess-pgn-move-selected {
  color: #d85000!important;
}

.ssb-chess-status-text {
  font-style: italic;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}
