.ssb-chess-invites-section-title {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}

.ssb-chess-challenge-control {
  margin: 20px;
  text-align: center;
}

#ssb-chess-challenge-control-select {
  width: 150px;
}

.ssb-chess-challenge-send-button {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
};
