.ssb-chess-miniboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ssb-chess-miniboard {
  margin: 2%;
  justify-content: center;
}

.cg-board-wrap.ssb-chess-board-small {
  width: 220px;
  height: 220px;
}

.cg-board-wrap.ssb-chess-board-medium {
  width: 320px;
  height: 320px;
}

.ssb-chess-miniboard-name {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.ssb-chess-miniboard-time-ago {
  padding-top: 5px;
   font-style: italic;
}

.ssb-chess-miniboard-controls {
  display: flex;
  justify-content: center;
}

.ssb-chess-miniboard-control {
  margin: 5px;
}

.ssb-chess-miniboard-bottom {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    width: 320px;
}
