.ssb-chess-player-profile {

}

.ssb-chess-profile-game-summary {

}

.ssb-chess-player-finished-games {
  width: 100%;
}

.ssb-chess-player-finished-games-scroller {
  width: 100%;
  display: flex;
  flex-direction: column;
}
