.ssb-chess-player-profile {

}

.ssb-chess-profile-game-summary {
  width: 50%;
  margin: auto;
}

.ssb-chess-player-finished-games {
  display: flex;
}

.ssb-chess-player-finished-games-scroller {
  flex-direction: column;
  width: 100%;
}
